* {
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

body input {
  height: 0;
  width: 0;
}

input {
  border-style: none;
}

/* div {
  border: 2px solid purple;
} */

#content {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  border: 2px solid blue;
}

#header,
#listArea {
  border: 2px solid red;
  width: 100%;
}

.heading {
  margin: 40px;
  color: #0053e3;
  font-size: 2.5rem;
  font-weight: 600;
}

.projectTitle,
.todoTitle {
  font-weight: 600;
  width: 100%;
  height: 100%;
}

.projectTitle {
  color: #0053e3;
  font-size: 2.5rem;
}

.todoTitle {
  color: black;
  font-size: 1.8rem;
}

.titleDiv {
  width: 100%;
}

.newProjectButton,
.addTodo {
  background-color: whitesmoke;
  border-style: none;
  padding: 8px 0;
  width: 100%;
  color: #00338c;
  font-size: 1rem;
  font-weight: 600;
}

.projectPanel,
.todoPanel {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.projectCheckbox,
.todoCheckbox {
  align-self: center;
  justify-self: center;
  width: 35px;
  height: 35px;
}

.project,
.todo {
  font-size: 1.5rem;
  text-align: left;
  background-color: white;
  border: none;
  height: 100%;
  width: 100%;
  padding: 25px 40px;
}

.project:active {
  background-color: whitesmoke;
}

.screenIcon {
  width: 40px;
  height: 40px;
  margin: 40px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  border-style: none;
  background-color: white;
}

.projectScreenHeader,
.todoScreenHeader {
  display: flex;
  border: 2px solid green;
  justify-content: space-around;
}

textarea:focus, input:focus {
  outline: none;
}

.descriptionBox {
  width: auto;
  padding: 40px 20px;
  font-size: 1.2rem;
  border-style: none;
  font-style: italic;
}


