* {
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generic */
body {
  display: flex;
  justify-content: center;
  background-color: #0053e3;
}

body input {
  height: 0;
  width: 0;
}

input {
  border-style: none;
}

/* div {
  border: 2px solid purple;
} */

textarea:focus, input:focus {
  outline: none;
}

/* HTML Body Containers */
#content {
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: center;
  background-color: white;
  margin-top: 3.2vh;
  border-radius: 20px;
  border: 6px solid black;
  overflow: hidden;
}

#header,
#listArea {
  width: 100%;
}

/* Header - Titles */
.heading {
  margin: 40px;
  color: #0053e3;
  font-size: 2.5rem;
  font-weight: 600;
}

.projectTitle,
.todoTitle {
  font-weight: 600;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.projectTitle {
  color: #0053e3;
  font-size: 2.2rem;
}

.todoTitle {
  color: black;
  font-size: 1.8rem;
}

.titleDiv {
  width: 100%;
}

/* Header */
.newProjectButton,
.addTodo {
  background-color: rgb(233, 233, 233);
  border-style: none;
  padding: 12px 0;
  width: 100%;
  color: #00338c;
  font-size: 1.2rem;
  font-weight: 600;
}

.screenIcon {
  width: 45px;
  height: 45px;
  margin: 40px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  border-style: none;
  background-color: white;;
}

.projectScreenHeader,
.todoScreenHeader {
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
}

/* List Rows */
.projectPanel,
.todoPanel {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.project,
.todo {
  font-size: 1.5rem;
  text-align: left;
  background-color: white;
  border: none;
  height: 100%;
  width: 100%;
  padding: 25px 50px;
  text-decoration: none;
  color: black;
}

.project.completed,
.todo.completed {
  color: grey;
  text-decoration: line-through;
}

/* Todo Screen */
.detailsDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.descriptionBox {
  width: auto;
  padding: 20px 20px 40px 20px;
  font-size: 1.2rem;
  border-style: none;
  font-style: italic;
}

.dateDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  width: 100%;
}

.dueInText {
  font-size: 1.4rem;
  font-weight: 600;
  color: #0053e3;
}

.dueDate {
  height: auto;
  width: 175px;
  font-size: 1.2rem;
  background-color: whitesmoke;
}

.notesBox {
  border: 4px solid #4385F4;
  background-color: white;
  width: 70%;
  height: 150px;
  padding: 10px 15px;
  font-size: 0.9rem;
  margin: 30px 30px 15px 30px;
  text-align: left;
}

.todoCheckboxesDiv {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  gap: 20px;
  padding: 20px 0;
  margin-bottom: 40px;
}

.todoCheckboxesDiv > .checkboxContainer {
  justify-content: left;
}

.todoCheckboxesDiv label {
  font-size: 1.5rem;
  align-items: center;
}


/* Checkbox Only */
.checkboxContainer {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
}

.checkboxContainer label {
  cursor: pointer;
  display: flex;
}

.checkboxContainer input[type="checkbox"]{
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkboxContainer label::before {
  content: "";
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
  border: 0.25rem solid black;
}

.checkboxContainer label:hover::before,
.checkboxContainer input[type="checkbox"]:hover + label::before {
  background-color: #4385F4;
}

.checkboxContainer input[type="checkbox"]:checked + label::before {
  content: "\002714";
  background-color: #0053e3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

